@use '../../utilities/' as u;

#card-section{
    @include u.content-max-width;
    @include u.flex(row, center, center);
    flex-wrap: wrap;
    min-height: 20vh;
    border: 1px solid gray;
    margin: 10rem auto;


    h2{
        font-size: 2rem;
    }
}