@use '../../utilities/' as u;
#filter-section{
    @include u.section(100vw, 20vh, column, center, center);
    margin: 3rem 0;

    gap: 3rem;
    h2{
        font-size: u.$medium-header-font;
        font-weight: 400;
    }
    button#open-filter-btn{
        width: 16rem;
        height: 4rem;
        font-size: u.$small-font;
    }
    
}

.filter-container{
    @include u.content-max-width;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10rem 15rem 15rem;
    
    border: 3px solid gray;

    gap: 0rem  1rem;
    padding: 1rem;

    div{
        width: 100%;
        height: 100%;
    }
    .grid-header{
        grid-row: 1/1;
        grid-column: 1/13;

        @include u.flex(row, space-between, flex-start);

        h3{
            margin-top: 1rem;
            font-size: u.$medium-font;
            font-weight: 400;
        }

        button#close-filter-btn{
            @include u.flex(row, center, center);
            background: none;
            border: none;
            width: 5rem;
            height: 5rem;

            .fas{
                font-size: u.$big-font;
            }
        }
    }

    .grid-item{
        @include u.flex(column, space-between, flex-start);
        padding: 1rem;
        h3{
            font-size: u.$normal-font;
            margin-bottom: 2rem; 
        }
        div{
            @include u.flex(column, flex-start, flex-start);
            gap: 1rem;
        }

    }

    .grid-child-one{
        // background-color: blue;
        grid-column: 1/5;
        
    }
    .grid-child-two{
        // background-color: green;
        grid-column: 5/9;
        
        div{
            @include u.flex(row, flex-start, flex-start);
            gap: 1rem;
        }
    }
    .grid-child-three{
        // background-color: pink;
        grid-column: 9/13;
        grid-row: 2/3;
        div{
            @include u.flex(row, flex-start, flex-start);
            gap: 1rem;
        }
    }
    .grid-child-four{
        // background-color: orange;
        grid-column: 5/9;
        grid-row: 3/4;

        #filter-search-input{
            width: 100%;
            height: 5rem;
            border: 3px solid gray;
            border-radius: 0.5rem;
        }
    }
}